
@if (!string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
{
    //ToDo: ActionLink to Profil
    @Html.ActionLink(HttpContext.Current.User.Identity.Name, "Index", "Account")
    @Html.ActionLink("Выход", "Exit", "Home", null, new { @style = "color: #51BAA4;" })
}
else
{
    <a href="" id="labelShowLoginDialog" onclick="auth.showLoginDialog(); return false;">Войти</a>

   
}
    <script src="~/Scripts/user/auth.js"></script>