
@{
    plan2plan.Controllers.User.Authenticate authenticate = null;
    if (ViewBag.Authenticate != null)
    {
        authenticate = (plan2plan.Controllers.User.Authenticate)ViewBag.Authenticate;
    }
}

@if (authenticate != null || string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name) == false)
{
    if (authenticate != null && authenticate.IsAuthenticated == true)
    {
        //ToDo: ActionLink to Profil
        <a href="" onclick="return false;">@authenticate.UserName</a>
        @*@Html.ActionLink(Model.UserName, "Index", "Account")*@
    }
    else if (string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name) == false)
    {
        <a href="" onclick="return false;">@HttpContext.Current.User.Identity.Name</a>
        @*@Html.ActionLink(HttpContext.Current.User.Identity.Name, "Index", "Account")*@
    }
    <ul style="display: none;">
        <li>
            @Html.ActionLink("Работа с файлами", "Index", "File")
        </li>
        <li>
            @Html.ActionLink("Выход", "LogOut", "Auth", null, new { @style = "color: #51BAA4;" })
        </li>
    </ul>
}
else
{
    <a href="" id="labelShowLoginDialog" onclick="auth.showLoginDialog(); return false;">Войти</a>
}