/*#region images pdf */

.action-file a:nth-child(2) {
    margin-left: 5px;
}

.action-file a {
    font-size: larger;
}
.action-file a:hover {
    font-size: x-large;
}

/*#endregion */


/*#region action */

a.not_selected {
    color: gray;
}

/*#endregion */


/*#region Some elements */

.box-border {
    box-sizing: content-box;
    padding: 30px 30px 0 30px;
    margin: 30px 15px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    padding-bottom: 10px;
}

/*#endregion */

.bootstrap-table {
    margin: 0px 10px;
}
