@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*#region images pdf */

.action-file a:nth-child(2) {
    margin-left: 5px;
}

span[data-action=downloads] {
    margin-left: 5px;
}

.action-file a {
    font-size: larger;
}

    .action-file a:hover {
        font-size: x-large;
    }

/*#endregion */


/*#region action */

a.not_selected {
    color: gray;
}

/*#endregion */


/*#region Some elements */

.box-border {
    box-sizing: content-box;
    padding: 30px 30px 0 30px;
    margin: 30px 15px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    padding-bottom: 10px;
}

/*#endregion */

.bootstrap-table {
    margin: 0px 10px;
}


/*#region input[placeholder] */

::-webkit-input-placeholder {
	color: #b7bac9 !important;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #b7bac9 !important;
}

:-ms-input-placeholder {
	color: #b7bac9 !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: #b7bac9 !important;
}

/*#endregion */

