<!DOCTYPE html>
<html lang="ru-RU" class="mdl-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>plan2plan - чек-листы</title>

    <!-- #region for google\yandex -->
    <meta property="og:type" content="website">
    <meta name="yandex-verification" content="0d43771cf399ab1e" />
    <link rel="alternate" hreflang="ru" href="http://plan2plan.ru/" />
    <!-- #endregion -->
    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Source/Logo/Vintage-Brand-Logo.ico" />
    @*<link href="~/TemplateSite/img/favicon.png" rel="icon">
        <link href="~/TemplateSite/img/apple-touch-icon.png" rel="apple-touch-icon">*@
    <!-- Google Fonts -->
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Pacifico:300,400,700" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Pacifico|Russo+One" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/TemplateSite/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/TemplateSite/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/TemplateSite/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/TemplateSite/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/TemplateSite/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/TemplateSite/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/TemplateSite/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/TemplateSite/css/style.css" rel="stylesheet">

    <!--Mine styles-->
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/TemplateSite/lib/jquery/jquery.min.js"></script>

</head>
<body>
    @{ Html.RenderPartial("~/Views/_Partial/_Header.cshtml"); }

    @RenderBody()

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
                -->
                <a href="https://bootstrapmade.com/">Free Bootstrap Templates</a> by BootstrapMade
            </div>
            <div class="credits">
                <b>Разработка сайта - <a href="mailto:ialexkrainov2@gmail.com">ialexkrainov2@gmail.com</a></b>
            </div>
        </div>
    </footer><!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/TemplateSite/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/TemplateSite/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/TemplateSite/lib/easing/easing.min.js"></script>
    <script src="~/TemplateSite/lib/superfish/hoverIntent.js"></script>
    <script src="~/TemplateSite/lib/superfish/superfish.min.js"></script>
    <script src="~/TemplateSite/lib/wow/wow.min.js"></script>
    <script src="~/TemplateSite/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/TemplateSite/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="~/TemplateSite/lib/sticky/sticky.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>*@
    <!-- Template Main Javascript File -->
    <script src="~/TemplateSite/js/main.js"></script>

    <script src="~/Scripts/statistics.js"></script>
    <script src="~/Scripts/action.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/user/auth.js"></script>

    <script src="~/Scripts/jquery/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/vue_components/like_component.js"></script>
</body>
</html>