
@{
    /**/

    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row" style="position: relative;padding: 1rem;margin: 1rem -15px 0;border-width: .2rem 0 0;">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Изменить пароль</h4>

            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "form" }))
            {
                <input type="hidden" name="uid" value="@ViewBag.userID" />
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Введите новый пароль" autofocus required />
                        <button type="submit" class="btn btn-outline-primary" style="float: right;margin-top: 15px;">Обновить пароль</button>
                        <small class="form-text text-muted"></small>
                        <div style="margin-top: 55px;">
                            <div class="card-body">
                                @if (string.IsNullOrEmpty(ViewBag.Success) == false)
                                {
                                    <div class="alert alert-success">
                                        @ViewBag.Success @*@Html.ActionLink("Вернуться на главную страницу", "Index", "Home", null, new { @class = "alert-link" })*@
                                    </div>
                                }
                                @if (string.IsNullOrEmpty(ViewBag.isErrorLink) == false)
                                {
                                    <div class="alert alert-danger">
                                        Если вы видите данное сообщение, то произошла ошибка при восстановлении пароля. Пожалуяста пройдите по <a href="http://www.plan2plan.ru/Home/Index?#contact">ссылке</a> и напишите нам об этом.
                                    </div>
                                }
                                @if (string.IsNullOrEmpty(ViewBag.Error) == false)
                                {
                                    <div class="alert alert-warning">
                                        @ViewBag.Error  <a href="http://www.plan2plan.ru/Home/Index?#contact">Написать нам</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

