
@{
    ViewBag.Title = "Index";
}

<!--==========================
     Intro Section
   ============================-->
<section id="intro" class="wow fadeIn">
    <div class="intro-content">
        <h2>
            Читательский дневник, <span>чек-листы</span>
            <br />
            и всё, что мотивирует
        </h2>
        @*<div>
                <a href="#about" class="btn-get-started scrollto">Сохранить</a>
                <a href="#portfolio" class="btn-projects scrollto">Создать</a>
            </div>*@
    </div>
    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('../../Source/Images/laptop-3190199_1920.jpg');"></div>
    </div>
</section><!-- #intro -->
<main id="main">
    @*<section id="about" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img">
                        <img src="~/Source/Images/box.jpg" alt="" style="opacity: 0.7;border-radius: 10px;" />
                    </div>
                    <div class="col-lg-6 content">
                        <h1>Книжные сеты-старт продаж в апреле</h1>
                        <h3>
                            Книжный сет - отличный подарок со смыслом для тех, кто любит читать и при этом погружаться в книгу.

                            Пример наполнения книжного сета:
                        </h3>

                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i> Книга, выбранная из доступного списка</li>
                            <li><i class="ion-android-checkmark-circle"></i> Связанные с этой книгой предметы - еда, открытки, рецепты, канцелярия - наполнение каждой коробки зависит от выбранного произведения.</li>
                        </ul>
                        <h3 style="color: red;">До конца апреля можно оформить предзаказ на сет со скидкой 5%</h3>
                    </div>
                </div>
            </div>
        </section>*@

    @{ Html.RenderPartial("PreviewDocs", (List<plan2plan.Domain.Core.File>)ViewBag.PreviewFiles); }

    @{ Html.RenderPartial("PreviewBox"); }

    @{ Html.RenderPartial("PreviewInstagram");}

    @{ Html.RenderPartial("PreviewFeedback"); }

</main>


