<!--==========================
  Feedback Section
============================-->
<section id="contact" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            @using (Ajax.BeginForm(
            actionName: "Create",
            controllerName: "Feedback",
            routeValues: null,
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "results_feedback",
                LoadingElementId = "loading",
                LoadingElementDuration = 800,
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "onSuccessFeedback",
                OnFailure = "onFailureFeedback"
            },
            htmlAttributes: new { @class = "contactForm", role = "form", id = "feedback_form" }))
            {
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Как к вам обращаться" data-rule="minlen:4"
                               data-msg="Введите ваше имя" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Ваша почта" data-rule="email"
                               data-msg="Введите валидный email" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                              data-msg="Пожалуйста напишите,что-нибудь для нас" placeholder="Текст обращения"></textarea>
                    <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit"> Send Message</button></div>
            }
            <div id="loading" style="display: none; color: red;">
                <div id="preloader"></div>
            </div>
            <div id="results_feedback"></div>
        </div>
    </div>
</section>
@*end feedback*@

<!-- Contact Form JavaScript File -->
<script src="~/TemplateSite/contactform/contactform.js"></script>
